<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="\img\1f412.svg" height="80px" width="80px"/>
        <span class="fs-4">Сервис Skychimp</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Личный кабинет</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Регистрация</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Вход</a>
      </nav>
    </div>

